<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Analyzer.MyTransformer" />
	<listener class-name="ExtentReport.ExtentReporterNG" />
</listeners>

	<test name="Test">

		<classes>
			<!--<class name="com.OBBE.Testcases.WorkflowMaintenance"/>-->
			<!--<class name="com.OBBE.Testcases.OBNewhire"/>-->
			<!--<class name="com.OBBE.Testcases.WebEnrollmentConfiguration"/>-->
			<!--<class name="com.OBBE.Testcases.BENewhire"/>-->
			<!--<class name="com.OBBE.Testcases.BenefitsEnrollment"/>-->
			 <!--<class name="com.OBBE.Testcases.Onboarding"/>-->
			 <!--<class name="com.OBBE.Testcases.Onboarding2"/>-->
			<!--<class name="com.OBBE.Testcases.BrokenLinks"/>-->
			<class name="com.OBBE.Testcases.EPNewHire"/>
		</classes>

	</test> <!--
	Test -->
</suite> <!--
Suite -->
